.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}
.video-item.item img {
  max-width: 180px;
}

/* .content {
  padding: 1% 0;
  margin: 0 auto;
  margin-top: 0 !important;
  max-width: 700px;
  line-height: 1.3em;
} */
